.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;

  overflow-y: scroll;
  
  visibility: hidden;
  
  opacity: 0;

  background-color: rgba(0, 0, 0, 0.3);

  transition: all .2s linear;

  cursor: pointer;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &.active &--content {
    right: 0;
  }

  &--content {
    width: 60%;
    min-height: 100%;

    padding: 50px 20px 360px;

    position: absolute;
    top: 0;
    right: -60%;

    background-color: #fcfcfc;

    transition: all .2s linear;

    cursor: auto;
  }
}