.auth {
  
  &-container {
    width: 550px;

    border-radius: 25px;

    box-shadow: 3px 4px 16px 2px #4f306e;
    
    background-color: #fff;
  }

  &-header {
    display: flex;
    justify-content: center;
    
    border-radius: 25px 25px 0 0;

    background-color: #fff;

    &-btn {
      width: 50%;

      padding: 10px 0;

      color: #fff;
      font-size: 18px;
      font-weight: 600;

      border: 0;
      border-radius: 0 25px 0 0;

      background-color: #d0d0d0;

      transition: all .2s ease-in;

      cursor: pointer;

      &:first-child {
        border-radius: 25px 0 0 0;
      }

      &.active {
        color: $darkGray;
        background-color: #fff;
      }

      &:focus {
        background-color: #fff;
      }
    }
  }

  &-content {
    min-height: 320px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &-bottom-btn {
    width: 100%;

    padding: 15px 0;

    color: #fff;
    font-size: 18px;
    font-weight: 600;

    border: 0;
    border-radius: 0 0 25px 25px;

    background-image: linear-gradient(to bottom, #56a3d5, #4293d4, #3a82d2, #4170cc, #505bc2);

    background-color: #d0d0d0;

    transition: all .2s ease-in;

    cursor: pointer;

    &:hover {
      opacity: .9;
    }

    &:focus {
      background-color: #fff;
    }

    &.active {
      opacity: .8;
    }
  }
}