body {
  font-family: 'Montserrat', sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  position: relative;

  background-image: linear-gradient(to right bottom, #1e5ab5, #0072c9, #008ada, #00a2e9, #10baf6);

  &-container {
    width: 100%;
    height: 100%;

    &--auth {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}


input {

  &:focus {
    border-bottom: 1px solid #10baf6 !important;
    box-shadow: 0 1px 0 0 #10baf6 !important;
  }

  &.manual-invalid {
    border-bottom: 1px solid #F44336 !important;
    box-shadow: 0 1px 0 0 #F44336 !important;
  }

  &.white {
    color: #fafafa;
    border-bottom: 1px solid #fcfcfc !important;
    box-shadow: 0 1px 0 0 #fcfcfc !important;
    background-color: transparent !important;
  }

  &.blue {
    color: #008ada;
    border-bottom: 1px solid #008ada !important;
    box-shadow: 0 1px 0 0 #008ada !important;
    background-color: transparent !important;
  }
}

label {
  &.active {
    color: #10baf6 !important;
  }

  &.invalid {
    color: #F44336 !important;
  }

  &.white {
    color: #fcfcfc;
    background-color: transparent !important;

    &.active {
      color: #fcfcfc !important;
    }
  }

  &.blue {
    color: #008ada;
    background-color: transparent !important;

    &.active {
      color: #008ada !important;
    }
  }
}

select {

  outline: 1px solid #10baf6;

  transition: all .2s ease;

  cursor: pointer;

  &:focus {
    outline: 1px solid #008ada;
  }
}

.page {

  &-wrapper {
    width: 100%;
    height: 100%;

    padding: 100px 30px 30px;

    overflow-y: auto;

    transition: all .4s linear;
  }

  &-list {
    opacity: 0;

    transform: translateY(-130%);

    transition: all .3s linear;

    &.active {
      transform: translateY(0);

      opacity: 1;
    }
  }

  &-card {
    width: 100%;
    height: 100%;

    padding: 20px;

    position: relative;

    transform: scale(0);

    opacity: 0;

    border-radius: 2px;

    box-shadow: 0 0 4px 1px #323232;

    background-color: #fff;

    transition: all .2s linear;

    &.active {
      transform: scale(1);

      opacity: 1;
    }

    &-btn {
      padding: 10px 40px;

      position: absolute;
      bottom: 20px;
      right: 20px;

      color:#ffffff;
      font-size:18px;
      font-weight:bold;

      border: 0;
      border-radius:42px;

      background-image: linear-gradient(to right bottom, #1e5ab5, #0072c9, #008ada, #00a2e9, #10baf6);

      transition: all .3s ease;
      cursor:pointer;

      &:hover {
        opacity: .8;
      }
    }
  }
}


.empty {

  &-block {
    width: 100%;
    height: 100%;

    padding-top: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &-title {
    width: 100%;

    margin-top: 50px;
    
    text-align: center;
  }
}