.header {
  height: 70px;
  padding: 0 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  box-shadow: 0px 1px 3px 1px #3a2f4d;

  background-image: linear-gradient(to right bottom, #1e5ab5, #0072c9, #008ada);

  &-img {
    transition: all .2s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &-box {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-link {
    height: 100%;
    padding: 0 15px;
    margin: 0 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fafafa;
    font-size: 18px;
    font-weight: 500;

    background-color: transparent;

    transition: all .3s ease;

    &:hover {
      color: #3791e6;
      
      background-color: rgba(255, 255, 255, 0.7);
    }

    &.active {
      color: #3791e6 !important;
      
      background-color: rgba(255, 255, 255, 0.7) !important;
    }
  }

  &-btn {
    height: 100%;
    padding: 0 15px;

    border: 0;
    border-right: 1px solid #fafafa;
    border-left: 1px solid #fafafa;

    color: #fafafa;
    font-size: 18px;
    font-weight: 500;

    background-color: transparent;

    transition: all .3s ease;

    cursor: pointer;

    &:hover {
      background-color: #173b90;
    }
  }
}