.list {

  &-item {
    width: 100%;

    margin-bottom: 80px;

    position: relative; 

    border-radius: 3px;

    background-color: #fcfcfc;

    cursor: pointer;

    &--dark {
      background-color: #eeeeee
    }
  }

  &-content {
    width: 100%;

    padding: 15px;

    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;

    position: relative;

    &--room {
      grid-template-columns: 1fr 2fr 1fr 1fr 2fr 2fr;
    }
  }

  &-title {
    margin-bottom: 15px;

    color: #333333;
    font-size: 32px;
    font-weight: 600;
  }

  &-description {
    max-width: 250px;

    color: #333333;
    font-size: 18px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;

    overflow: hidden; 

    &-modal {
      padding: 15px;

      position: absolute;
      top: 0;
      left: -15px;
      right: 0;
      z-index: 1;

      white-space: normal;

      visibility: hidden;

      border-radius: 3px;

      opacity: 0;

      background-color: #fcfcfc;
      
      transition: all .2s ease;

      &--dark {
        background-color: #d9d9d9;
      }

      &.active {
        visibility: visible;

        z-index: 1;

        top: 100%;

        opacity: 1;
      }
    }
  }

  &-parent {
    &:hover .list-description-modal {
      visibility: visible;

      top: 100%;

      opacity: 1;
    }
  }

  &-cell {

    position: relative;

    &--picture {
      padding-right: 30px;
      
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        transition: all .2s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &-title {
      margin-bottom: 25px;

      color: #333333;
      font-size: 24px;
      font-weight: 500;
    }

    &-description {
      color: #333333;
      font-size: 18px;
      font-weight: 400;
    }
  }


  &-btn {

    &--more {
      margin-left: 25px;
      padding: 0;

      color: #136fb9;
      font-size: 16px;
      font-weight: 300;

      position: relative;

      border: 0;

      background-color: transparent;

      cursor: pointer;

      &:focus {
        
        background-color: transparent !important;
      }

      &:hover:before {
        width: 100%;
      }

      &:before {
        width: 0;
        height: 1px;

        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        
        background-color: #136fb9;

        transition: all .2s ease;
      }
    }
  }


  &-edit {

    &-toggler {
      width: 100px;
      height: 40px;

      position: absolute;
      top: 100%;
      left: 50%;

      border: 0;
      border-radius: 0 0 50% 50%;

      transform: translateX(-50%);

      background-color: #eeeeee;

      transition: all .2s ease;

      cursor: pointer;

      &:hover {
        height: 50px;

        background-color: #cccccc !important;
      }

      &:focus {
        background-color: #cccccc !important;
      }

      & img {
        transition: all .3s linear;
      }

      &.open img {
        transform: rotate(180deg);
      }

      &--dark {
        background-color: #d9d9d9 !important;

        &:hover {
          background-color: #cccccc !important;
        }
  
        &:focus {
          background-color: #cccccc !important;
        }
      }
    }

    &-container {
      padding: 15px;
    }

    &-row {
      width: 100%;

      display: flex;
      justify-content: flex-end;
    }

    &-content {
      width: 100%;
      height: 0;

      visibility: hidden;

      opacity: 0;

      border-radius: 0 0 3px 3px;
      
      background-color: #eeeeee;

      transition: all .3s ease;

      &--dark {
        background-color: #d9d9d9;
      }

      &.active {
        height: 221px;

        visibility: visible;

        opacity: 1;
      }

      &--large.active {
        height: 361px;
      }
    }

    &-btn {
      padding: 10px 40px;

      color: #fcfcfc;
      font-size: 16px;
      font-weight: 500;

      border: 0;
      border-radius: 20px;

      cursor: pointer;

      &:hover {
        opacity: .9;
      }

      &--save {
        margin-right: 20px;

        background-image: linear-gradient(to right bottom, #1e5ab5, #0072c9, #008ada, #00a2e9, #10baf6);
      }

      &--delete {
        background-image: linear-gradient(to right top, #b30e5d, #d2324e, #e6593b, #ee8126, #eba912);
      }
    }
  }
}